@inherits LayoutComponentBase;
@using ToDoList.Services;
@using Microsoft.AspNetCore.Components.Authorization;

<Navbar />

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@
    

    @* <main class="">
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink href="/signin">Sign In</NavLink>
                </NotAuthorized>
                <Authorized>
                    <NavLink href="/account">@context.User.Identity.Name</NavLink>
                    <NavLink href="/logout">Log Out</NavLink>
                </Authorized>
            </AuthorizeView>
            @if (UserState.IsSignedIn)
            {
                <NavLink href="/account">@UserState.UserName</NavLink>
                <button @onclick="UserState.SignOut">Sign Out</button>
            }
            else
            {
                <NavLink href="/signin">Sign In</NavLink>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main> *@
    <main class="">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
